<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <!-- v-on 특정 반응을 할 때 사용하는 이벤트 click, mouseenter, mouseleave 등등 -->
      <!-- v-on:click='counter++' 등 순수자바스크립트를 바로 사용가능, 하지만 html은 출력 위주로 해야되기때문에 js에서 호출하는 방식을 권고함  -->
      <button @click="addCounter(5)">Add</button>
      <button @click.right="reduceCounter(5)">Reduce</button>
      <!-- v-once 를 넣으면 초기값으로 고정된다  -->
      <p>Starting Counter : {{counter}}</p>
      <p>Result: {{ counter }}</p>
      <!-- input 입력 값을 카피 할 수 있는 방법 -->
      <!-- setName에서 추가하고 싶은 문구가 있을 때 첫번째 인자앞에 $를 붙힌다 -->
      <!-- 핵심은 필요한 입력값을 바인딩해서 재사용하는 것! -->
      <!-- v-model은 v-on:input, v-bind:value의 축약어(데이터 바인딩, 이벤트 바인딩) 양방향 바인딩이라고 한다. -->
      <!-- (v-on:click, v-input) 이런내용들은 @로 축약해서 사용한다. -->
      <!-- v-bind같은 내용들은 :로 축약함 -->
      <!-- v-model은 input, select, textarea에만 사용이 가능하다. -->
      <!-- 양방향 바인딩이랑 데이터가 바뀌면 화면이 바뀌고, 화면이 바뀌면 데이터가 바뀌는 형태를 뜻한다. -->
      <input type="text" :value="" v-model="name" />
      <input type="text" v-model="lastName" />
      <button @click="resetInput">Reset Input</button>
      <!-- 참조 되는 data 값을 잘 사용해야된다. -->
      <!-- 연산자는 () 함수처리를 하지않는다 -->
      <p>Your Name: {{ fullname }}</p>
      <!-- form에서 submit하는 것도 v-on으로 제어 -->
      <!-- html에서 Vue로 제어하는 방법, 이벤트 구동대상에 .을 붙여서 prevent로 막아주는 방법이 있음  -->
      <!-- 새로고침을 제어하는 방법 -->
      <form @submit.prevent>
        <input type="text" />
        <button @click="submitForm">Sign up</button>
      </form>
    </section>
  </body>
</html>
